# Plots
*.eps
*.png
*.jpg
*.pdf
outputs/
*/outputs/
*/*/outputs/


# Coverage
*.jl.cov
*.jl.*.cov
*.jl.mem

# Manifest files
Manifest.toml
test/Manifest.toml
docs/Manifest.toml

# Backup files
*.bu
*.bckp

# Data files
*.txt
*.dat
*.csv
*.tsv

#Docs
!docs/src/assets/*.png
docs/build/
docs/build/
docs/site/

# tmp
*.DS_Store
*.swp
